<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>链表</title>
    <link rel="stylesheet" href="../static/css/linkpage.css">
    <link rel="stylesheet" href="../static/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css">
</head>

{#导航栏，底部进度条，顶部功能条，主视图#}
<div id="main">
    <div id="navigation">
        <!--这部分是导航栏信息。-->
        <div class="s-side">
            <ul>
                <li class="s-firstItem first">
                    <a href="/">
                        <i class="fa fa-home"></i>
                        <span>AlgorithmVis</span>
                    </a>
                </li>

                <li class="first">
                    <div class="d-firstNav s-firstNav clearfix">
                        <i class="fa fa-bars"></i>
                        <span>线性结构</span>
                        <i class="fa fa-caret-right fr "></i>
                    </div>
                    <ul class="d-firstDrop s-firstDrop">
                        <li class="s-secondItem">
                            <a href="/array_page">
                                <i class="fa fa-minus-square-o"></i>
                                <span>数组</span>
                            </a>
                        </li>
                        <li class="s-secondItem">
                            <a href="/link_page">
                                <i class="fa fa-minus-square-o"></i>
                                <span>链表</span>
                            </a>
                        </li>
                        <li class="s-secondItem">
                            <a href="/stack_page">
                                <i class="fa fa-minus-square-o"></i>
                                <span>栈</span>
                            </a>
                        </li>
                        <li class="s-secondItem">
                            <a href="#">
                                <i class="fa fa-minus-square-o"></i>
                                <span>队列</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="first">
                    <div class="d-firstNav s-firstNav">
                        <i class="fa fa-bars"></i>
                        <span>非线性结构</span>
                        <i class="fa fa-caret-right fr"></i>
                    </div>
                    <ul class="d-firstDrop s-firstDrop">
                        <li class="s-secondItem">
                            <i class="fa fa-minus-square-o"></i>
                            <a href="#">二叉树</a>
                        </li>
                        <li class="s-secondItem">
                            <i class="fa fa-minus-square-o"></i>
                            <a href="#">图</a>
                        </li>
                    </ul>
                </li>
                <li class="first">
                    <div class="d-firstNav s-firstNav">
                        <i class="fa fa-bars"></i>
                        <span>查找</span>
                        <i class="fa fa-caret-right fr"></i>
                    </div>
                    <ul class="d-firstDrop s-firstDrop">
                        <li class="s-secondItem">
                            <i class="fa fa-minus-square-o"></i>
                            <a href="#">折半查找</a>
                        </li>
                        <li class="s-secondItem">
                            <i class="fa fa-minus-square-o"></i>
                            <a href="#">哈希表</a>
                        </li>
                        <li class="s-secondItem">
                            <i class="fa fa-minus-square-o"></i>
                            <a href="#">二叉排序树</a>
                        </li>
                    </ul>
                </li>
                <li class="first">
                    <div class="d-firstNav s-firstNav">
                        <i class="fa fa-bars"></i>
                        <span>排序</span>
                        <i class="fa fa-caret-right fr"></i>
                    </div>
                    <ul class="d-firstDrop s-firstDrop">
                        <li>
                            <div class="d-secondNav s-secondNav">
                                <i class="fa fa-minus-square-o"></i>
                                <span>插入排序</span>
                                <i class="fa fa-caret-right fr "></i>
                            </div>
                            <ul class="d-secondDrop s-secondDrop">
                                <li class="s-thirdItem">
                                    <a href="#">三级导航</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="d-secondNav s-secondNav">
                                <i class="fa fa-minus-square-o"></i>
                                <span>交换排序</span>
                                <i class="fa fa-caret-right fr "></i>
                            </div>
                            <ul class="d-secondDrop s-secondDrop">
                                <li class="s-thirdItem">
                                    <a href="#">三级导航</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="d-secondNav s-secondNav">
                                <i class="fa fa-minus-square-o"></i>
                                <span>选择排序</span>
                                <i class="fa fa-caret-right fr "></i>
                            </div>
                            <ul class="d-secondDrop s-secondDrop">
                                <li class="s-thirdItem">
                                    <a href="#">三级导航</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="d-secondNav s-secondNav">
                                <i class="fa fa-minus-square-o"></i>
                                <span>归并排序</span>
                                <i class="fa fa-caret-right fr "></i>
                            </div>
                            <ul class="d-secondDrop s-secondDrop">
                                <li class="s-thirdItem">
                                    <a href="#">三级导航</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div id="bottom_toolbar">
         <!--底部功能栏-->
        <div id= "play_bt" class = "play"></div>{#播放暂停#}
        <div id="next_bt"></div> {#步进#}
        <div id="progress"></div> {#进度条#}
    </div>
    <div id="top_toolbar">
        <!--顶部功能栏-->
    </div>
    <div id="screen">
        <div id="input_window">
            {#输入窗口#}
            <div id="input_page">
                <div id="custom_tool">
                    <span>链表 :</span>
                    <input type="text" placeholder="例：1,2,3,4,5" class="inputs" id="user_data" value="">
                    <button class="button" id="submit_bt">创建</button>
                    <button class="button" id="random_bt">随机</button>
                    <br>
                    <span>查找 :</span>
                    <input type="text" placeholder="想要查找的数" class="inputs" id="search_num" value="">
                    <button class="button" id="search_bt">查找</button>
                    <br>
                    <span>插入 :</span>
                    <input type="text" placeholder="位置,值" class="inputs" id="insert_num" value="">
                    <button class="button" id="insert_bt">插入</button>
                    <br>
                    <span>移除 :</span>
                    <input type="text" placeholder="位置" class="inputs" id="delete_num" value="">
                    <button class="button" id="delete_bt">移除</button>
                    <br>
                </div>
            </div>
            <div id="hide_page">
                {#隐藏按钮#}
                <div id="hide_bt1" class = "hide_right"></div>
            </div>
        </div>
        <div id="hint_page">
            {#解释窗口#}
            <div id="hint_window"></div>
            <div id="hint_hide">
                <div id="hide_bt2" class = "hide_right"></div>
            </div>
        </div>
        <div id="code_page">
            {#伪代码窗口#}
            <div id="code_window"></div>
            <div id="code_hide">
                <div id="hide_bt3" class = "hide_right"></div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="../static/lib/d3/d3.js"></script>
<script type="text/javascript" src="../static/lib/jquery/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../static/js/linkpage.js"></script>
<script type="text/javascript" src="../static/js/navigation.js"></script>
</html>